extends base

block content
    div(class="col-lg-8 col-lg-offset-2")
        div(class="jumbotron")
            h1 Time Tracker
            p
                | Track how much time you spent on your projects.

            p
                a(id="register-button-homepage" class="btn btn-lg btn-primary" href="/register" role="button") Register
                a(id="login-button-homepage" class="btn btn-lg btn-default" href="/login" role="button") Login
