extends ../base

block content
    div(class="row")    
        div(class="col-md-10 col-md-offset-1")
            
            h2 Welcome #{user.name}
            
            ol(class="breadcrumb")
                block breadcrumbs
                    
            hr
        
            div(class="col-md-3 col-sm-4")            
                h4 Account Navigation
                div(class="list-group")
                    a(class="list-group-item" href="/user/home") 
                        i(class="fa fa-home fa-fw")
                        | &nbsp;Account Home
                        
                    a(class="list-group-item" href="/user/projects")
                        i(class="fa fa-folder-open fa-fw")
                        | &nbsp;Your Projects
                            
                    a(class="list-group-item" href="/user/project/create")
                        i(class="fa fa-plus-square fa-fw")
                        | &nbsp;Create Project
                        
                    a(class="list-group-item" href="/user/stats")
                        i(class="fa fa-line-chart fa-fw")
                        | &nbsp;View Stats
                        
            div(class="col-md-9 col-sm-8")
                block account-content
