extends account-base

block breadcrumbs
    
    li 
        a(href="/user/home") Account Home
    li Your Projects

block account-content 
            p Can't find your project? 
                a(href="/user/project/create") Create a new one

            h3 Projects Created by You
            table(class="table table-striped")
                thead
                    tr  
                        th Project
                        th Creator
                        th Collaborators
                        th Your hours
                        th Total hours
                    
                tbody
                    each val in created
                        tr
                            td
                                a(href="/user/project/"+val._id)= val.name
                            td Yes
                            td=val.users.length+1
                            td 0.0
                            td 0.0
                            td
                                a(href="/user/project/"+val._id+"/edit" class="btn btn-xs btn-default") Edit
                                &nbsp;
                                a(href="/user/project/"+val._id+"/delete" class="btn btn-xs btn-danger") Delete
                                
                    each val in added
                        tr
                            td 
                                a(href="/user/project/"+val._id)= val.name
                            td No
                            td=val.users.length+1
                            td 0.0
                            td 0.0
