extends ../account-base

block breadcrumbs
    script.
        app.controller("ViewController", ["$scope", "$http",
            function($scope, $http) {
                $scope.project = !{JSON.stringify(project)};
                $scope.stats = !{JSON.stringify(stats)};
                $scope.lastlogged = !{JSON.stringify(lastlogged)};
            }
        ]);
    
    li 
        a(href="/user/home") Account Home
    li View Project
    
block account-content
    div(ng-controller="ViewController")
        h3 {{ project.name }}
        p {{ project.description }}
            
        
        table(class="table")
            tbody
                tr
                    td Total Hours on Project
                    td {{ stats.projectHours }}
                
                tr 
                    td Your Hours on Project
                    td {{ stats.userHours }}
                    
                tr 
                    td Your Hours this Month
                    td {{ stats.hoursThisMonth }}

        h3 Your Logged Hours
        table(class="table table-striped")
            thead
                tr
                    th Project
                    th Date
                    th Time
                    th Hours

            tbody
                tr(ng-repeat="hour in lastlogged")
                    td
                        a(href="/user/project/{{hour.project}}") {{hour.projectName}}
                    td {{hour.date}}
                    td {{hour.from}} - {{hour.till}}
                    td {{hour.hours}}
                    td 
                        a(ng-click="delete(hour)" ng-show="!hour.showDelete" class="btn btn-xs btn-danger") Delete
                        div(ng-show="hour.showDelete")
                            i(class="fa fa-spinner fa-spin")
                            | &nbsp;Deleting
        
        p Showing 1 of 1 entries
        nav
            ul(class="pagination")
                li
                    a(href="#" aria-label="Previous")
                        span(aria-hidden="true") &laquo; previous
                    
                    li
                        a(href="#" aria-label="Next")
                            span(aria-hidden="true") next &raquo;
